body {
            margin:0px;
}
    .front{width: 100%;margin: 0em  auto 1em 0em;background-color: #f0f0f0;    color: #666;text-align: center;padding: 0.3em;border-radius: 0.5em;}
    .booking_area {float: left;position: relative;width:100%;height: auto; }
    .booking_area p {margin: 2em auto auto auto ; font-size:1.5em;}

    div.seatCharts-cell {color: #182C4E;height: 2.3em;width: 17%;line-height: 2.5em;margin: 0.2em;float: left;text-align: center;outline: none;font-size: 1.3em;}
    div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius: 0.5em;-moz-border-radius: 0.5em;border-radius: 0.5em;}
    div.seatCharts-row {height: 0.5em;}
    div.seatCharts-seat.available {background-color: #B9DEA0;}
    div.seatCharts-seat.focused {background-color: #76B474;border: none;}
    div.seatCharts-seat.selected {background-color: #E6CAC4;}
    div.seatCharts-seat.unavailable {background-color: #472B34;cursor: not-allowed;}
    div.seatCharts-container {border-right: 0.1em dotted #adadad;width: 80%;padding: 2em;float: left;}
    div.seatCharts-legend {padding-top: 10em;position: relative;bottom: 1.6em;margin-top: 1em}
    ul.seatCharts-legendList {padding-left: 0em;}
    .seatCharts-legendItem{float:left; width:79%;margin-top: 1em;line-height: 2;}
    span.seatCharts-legendDescription {margin-left: 0.5em;line-height: 3em;}
    .checkout-button {display: block;width:8em; height:2.4em; line-height:0.2em;margin: 1em auto;border:0.1em solid #999;font-size: 1.4em; cursor:pointer}
    .btn{
        border: hidden;
        width: 96%;
        margin-left: 0.5em;
        box-sizing: border-box;
        padding: .8em 0;
        background-color: rgb(255, 108, 0);
        color: white;
        font-weight: bold;
        border-radius: .15em;
        font-size: 1em;
        font-family: "Microsoft YaHei","Georgia Pro","Times New Roman",Helvitica,Verdana,Arial,san-serif;
}
/*这是head*/

@media screen{
.page_head {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei","Georgia Pro","Times New Roman",Helvitica,Verdana,Arial,san-serif;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    height: 3em;
    line-height: 0.8em;
    text-align: center;
}

h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
}

#seats_chose {max-height: 15em;overflow-y: auto;overflow-x: none;width: 100%;}
#seats_chose li{float:left; width:18%; height:2em; line-height:2.6em; border:0.1em solid #d3d3d3; background:#f7f7f7; margin:0.3em; font-size:0.8em; font-weight:bold; text-align:center}

